.catalog {
    padding: 50px;
    font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: rgb(249, 251, 250);
    box-shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;
    transition: border 150ms ease-in-out 0s, box-shadow;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 237, 235);
    background: #fff;
    border-radius: 24px;
}

.product-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 14px;
}
.product-cell {
    width: 300px;
}

.item-table {
    width: 100%;
}

.product-table tbody td{
    border-bottom: solid 1px #e8edeb;
}

.item-table thead {
    font-weight: bold;
}

.reset-demo-button {
    float: right;
    color: #fff;
    border: 1px solid #00684a;
    background-color: #00684a;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

.save-button {
    float: right;
    color: #fff;
    border: 1px solid #00684a;
    background-color: #00684a;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

.product-cell {
    padding: 14px;;
}

.sale-button {
    background-color: #4db33d;
    padding: 6px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    width: 120px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sale-button:hover {
    background-color: #399d2e;
  }