.layout-header {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 15px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  height: 60px;
  border-bottom: 1px solid rgb(232, 237, 235);
  }
  
  .logo {
    border-radius: 4px;
    margin: -1px;
    outline-offset: -1px;
    padding: 1px;
    transition: box-shadow 100ms ease-in-out 0s;
    height: 32px;
  }
  
  
  .user-info {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 12px;
    padding-right: 8px;
  }
  
  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 10px;
  }
  
  .user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px; 
  }
  
  .user-name {
    font-size: 13px;
    font-weight: 700;
    color: #333;
    margin: 0px; 
    /*margin-left: -33px;*/
  }
  
  .user-job-title {
    font-size: 13px; 
    color: #777;
    margin: 0px; 
  }

  .dropdown-container {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e8ede9;
    padding: 8px;
    min-width: 160px;
  }

  .user-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #ccc; /* Add a gray line at the top of the list */
  }
  
  .user-list li {
    cursor: pointer;
    display: flex;
    padding: 8px;
    transition: background-color 0.3s;
    border-bottom: 1px solid #ccc; /* Add a gray line below each list item */
  }
  
  .user-list li:first-child {
    border-top: none; /* Remove the top border for the first list item */
  }
  
  .user-list li:hover {
    background-color: #f0f0f0;
  }

  .action-link {
    display: flex;
    align-items: center;
    gap: 8px;
    color: inherit;
    text-decoration: none;
  }

  .action-text {
    font-size: 13px;
  }