{
  "clientAppId": "<your-app-id>",
  "query": "*",
  "cloudSyncServerAuthSecret": "<your-secret>",
  "httpListenPort": 80,
  "wireprotocolListenPort": 27021,
  "tls" : {
    "enabled": false,
    "certificates": [
        {
        "publicKeyPath": "certs/cert.pem",
        "privateKeyPath": "certs/certkey.pem"
      }
    ]
  }
}