.alert-banner {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    animation: fadeInOut 0.5s;
  }
  
  .close-btn {
    cursor: pointer;
    border: none;
    color: #721c24;
    background-color: #f8d7da;
    font-size: 18px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: none;
    padding: 0;
    margin-left: 5px;
  }