.layout-footer {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 0px 16px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 15px;
    background-color: rgb(255, 255, 255);
    height: 45px;
    z-index: 0;
    box-shadow: rgba(0, 30, 43, 0.1) 0px 4px 4px 0px;
  }
  
  .dropdown {
    font-family: 'MongoDB', sans-serif;
    position: relative;
    margin-bottom: 5px;
    margin-top: 3px;
    display: flex;
    align-items: center;
  }
  
  .dropdown-toggle {
    font-family: 'MongoDB', sans-serif; 
    font-size: 13px; 
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: bold;
  }
  
  
  .dropdown-arrow {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-left: 5px;
    border-radius: 5px;
    margin-bottom: 1px;
  }
  
  .dropdown-menu {
    font-size: 13px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 5px 0;
    width: 120px;
    z-index: 1;
  }
  
  .dropdown-menu a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: #333333;
  }
  
  .dropdown-menu a:hover {
    background-color: #f2f2f2;
  }
  
  .house-logo {
    width: 15px; 
    height: 15px; 
    margin-right: 0px; 
    margin-left: 5px;
  }

  .mongodb-button-container {
    display: flex;
    gap: 5px; 
    margin-left: 80px;
    align-items: center;
  
  }
  
  .mongodb-button {
    font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 700;
    color: #3f3f3f;
    text-decoration: none;
    margin-right: 5px;
    margin-left: 0px;
    position: relative;
  
  }
  /*
  .mongodb-button:hover {
    text-decoration: underline;
    color: #48A163;
  }
  */
  
  .mongodb-button:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #48A163; 
  }

  .toggle-button:hover {
    background-color: #ddd;
  }