.product-detail-content {
    display: grid;
    grid-template-areas: 
        'icon table table'
        'icon table table'
        'details table table'
    ;
    gap: 15px;
    padding: 15px;
    box-shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;
    transition: border 150ms ease-in-out 0s, box-shadow;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 237, 235);
    background: #fff;
    border-radius: 24px;
    width: 100%;
    overflow: hidden;
    margin-top: 14px;
   /*background-color: #2196F3;*/
}


.product-detail-content  > div {
    background-color: rgba(255, 255, 255, 0.8);
}


.table {
    grid-area: table;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
.table table {
flex-grow: 1;
border-collapse: collapse;
}

.table thead tr {
    border-top: solid 2px #e8edeb;
    border-bottom: solid 2px #e8edeb;
    color: #1c2d38;
    font-weight: 700;
}

.table tbody tr {
    border-bottom: solid 1px #e8edeb;
}

.table th, .table td {
    text-align: center;
    vertical-align: middle;
    position: relative;
}

  
  .table button {
    width: 150px;
    margin-top: 10px;
    margin-left: auto;
    padding: 5px;
    display: block;
    color: rgb(139, 14, 201);
    border: 1px solid #b1b1b1;
    background-color: #ffffff;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
  }

  .table button:hover {
    color: #ffffff;
    background-color:  rgb(139, 14, 201);
  }

.icon {
    grid-area: icon;
    text-align: center;
}

.icon-container {
    background-color: rgb(249, 251, 250);
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    
}

.details {
    grid-area: details;
    padding: 24px;
}

.circle {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
  }

.full {
    background-color: green;
}

.low {
    background-color: orange;
}

.ordered {
    background: repeating-linear-gradient(
        45deg,
        white,
        white 2.5px,
        green 2.5px,
        green 5px
        );
}

.dashboard {
    width: 100%;
    height: 400px;
    margin-top: 24px;
    border-radius: 24px;
    gap: 15px;
    padding: 15px;
    box-shadow: rgba(0, 30, 43, 0.3) 0px 4px 10px -4px;
    transition: border 150ms ease-in-out 0s, box-shadow;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(232, 237, 235);
}
  
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .save-success-message {
    position: 'fixed'; 
    bottom: 20; 
    right: 20; 
    background: 'green'; 
    color: 'white'; 
    padding: '10px';
    z-index: 1000000;
  }

  .leaf {
    position: absolute;
    top: 65px;
    right: 120px;
    height: 23px;
    width: 11px;
  }

  .switch-container {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  .switch-text {
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Euclid Circular A", Akzidenz, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(0, 30, 43);
    margin-right: 16px;
  }