.progress-bar-container {
    display: flex;
}

.progress-bar-reference {
    display: flex;
    height: 10px;
    align-items: left;
    border-radius: 5px;
    border: 1px solid black;
    width: 80%;
  }
  
  .progress-bar-level {
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .progress-bar-label {
    margin-left: 10px;
    font-size: 14px;
  }

  .progress-bar-ordered {
    position:relative;
    background: repeating-linear-gradient(
        45deg,
        white,
        white 5px,
        green 5px,
        green 10px
        );
  }